@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.title h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.about {
  width: 250px;
}

.about h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.about p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

img {
  max-width: 300px;
}

img h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.img {
  width: 100%;
}

.img:nth-child(2) {
  margin: 45px 0;
}

.img:nth-child(5) {
  margin: 45px 0;
}

.role {
  transform: rotate(90deg);
  position: relative;
  bottom: 200px;
  left: 120px;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 20px;
}

footer p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80% !important;
    margin: 0 auto;
  }
  .img:nth-child(5) {
    margin: 0;
  }
  .img:nth-child(even) {
    margin: 45px 0;
  }
  .role {
    font-size: 16px;
    left: 120px;
  }
  .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  img {
    width: 90%;
  }
  .role {
    font-size: 20px;
    left: 45%;
    bottom: 200px;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    width: 80%;
  }
  .role {
    font-size: 10px;
    left: 40%;
    bottom: 100px;
  }
  .title h1 {
    font-size: 36px;
  }
  .img h2 {
    font-size: 14px;
  }
  .about h4 {
    font-size: 18px;
  }
  .about p {
    font-size: 12px;
  }
}
